[submodule "RaylibMinesweeper"]
	path = RaylibMinesweeper
	url = https://github.com/moonbit-community/tonyfettes-android-raylib-minesweeper
[submodule "RaylibBattleCity"]
	path = RaylibBattleCity
	url = https://github.com/moonbit-community/tonyfettes-android-raylib-battle-city
[submodule "async"]
	path = async
	url = https://github.com/moonbitlang/async
	branch = worktree-android
